h1 {

   font-style: impact;
}

.menu {
    list-style-type: none;
    padding: 0%;
    margin-left: 0%;
}
.menu a {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: dimgray;
    display: inline-block;
    padding: 10px 30px;
    background-color: gainsboro;
    border-bottom: 5px solid dimgray;
}
.menu li {
    display: inline;
}
.menu a:hover {
background-color: aliceblue;
}
figure {
text-align: center;
}
.underline {
    text-decoration: underline;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
.back-button {
background-color: red;
    
    
    color: white;
    
    
    padding: 10px 20px;
    
    
    border: none;
    
    
    border-radius: 4px;
    
    
    cursor: pointer;
    
    
    }
    
   

